<?xml version='1.0' encoding='utf-8'?>
<widget id="de.msteiner.PG08" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PG08</name>
    <description>
        PG08 - Storage Demonstrator
    </description>
    <author email="8arracuda@googlemail.com" href="">
        8arracuda
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
